@import "tailwindcss";

.navbar {  
  @apply flex justify-between items-center fixed w-full top-0 h-16 shadow-md bg-white z-50 px-4;
}

.navbar__logo {
  color: darkblue;

  @apply text-xl font-bold cursor-pointer;
}

.navbar__list {
  @apply flex gap-4 items-center px-5;
}

.navbar__button {
  display: none;
}

.navbar__list--item {
  @apply cursor-pointer
}

.navbar__list--item:hover {
  color: darkblue;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .navbar__logo {
    padding: 0 1rem;
  }

  .navbar__list {
    display: none;
  }

  .navbar__button {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
  }

  .navbar__list--mobile{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 60px;
    padding: 1rem;
    background-color: thistle;
    font-size: 1.2rem;
  }

  .navbar__list--item--moobile {
    padding : 0.5rem 1rem;
  }

}